{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'landing/styles.css' %}">
</head>
<body>
    <div class="image-background">
        <div class="content-container">
            <div class="header">
                <div>
                    <img src="../../static/landing/images/usk.png" alt="Logo" class="logo">
                    <img src="../../static/landing/images/Logosamping.png" alt="Logo" class="logo">
                </div>
                <a href="#" class="login-btn">Login</a>
            </div>

            <div class="main-content">
                <div class="text-box">
                    <h1>Temukan Jalan Terbaikmu,<br>Prioritas Kami Adalah Masa Depanmu</h1>
                    <p>Wujudkan Mimpi Bersama USK</p>
                    <a href="#" class="cta-btn">Mulai Sekarang →</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
