{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'adminpanel/styles.css' %}">
    <title>SIREKOM USK - Admin Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <!-- header -->
    <div class="sidebar">
        <div class="logo-container">
            <img src="{% static 'landing/images/Logobawah.png' %}" alt="SIREKOM USK Logo" class="logo">
        </div>
        
        <nav class="sidebar-menu">
            <a href="{% url 'dashboard_admin' %}" class="menu-item">
                <i><img src="{% static 'adminpanel/images/iconsbdash.png' %}" alt="icon Dashboard"></i> Dashboard
            </a>
            <a href="{% url 'daftar_prodi' %}" class="menu-item">
                <i><img src="{% static 'adminpanel/images/iconsbprodi.png' %}" alt="icon prodi"></i> Program Studi
            </a>
            <a href="#" class="menu-item">
                <i><img src="{% static 'adminpanel/images/iconsbtest.png' %}" alt="icon test"></i> Pertanyaan Tes Minat
            </a>
            <a href="#" class="menu-item active">
                <i><img src="{% static 'adminpanel/images/iconsbpengguna.png' %}" alt="icon pengguna"></i> Pengguna
            </a>
        </nav>
        
        <a href="{% url 'keluar' %}" class="logout-btn">
            <img src="{% static 'adminpanel/images/iconkeluar.png' %}" alt="icon keluar">
            Keluar
        </a>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="header">
            <div class="user-profile">
                <span class="user-name">{{user.nama}}</span>
                <div class="avatar">
                    <i><img src="{% static 'adminpanel/images/iconprofil.png' %}" alt="icon profil"></i>
                </div>
            </div>
        </div>

        <div class="welcome">
            <h1 class="welcome-text">WELLCOME BACK, {{user.nama}}</h1>
            <div class="date-display">
                <i style="margin-right: 5px;"><img src="{% static 'adminpanel/images/iconkalender.png' %}" alt="icon kalender"></i>{{ tanggal_hari_ini }}
            </div>
        </div>

        <!-- Users Table Section -->
        <div class="content-section">
            <div class="section-header">
                <form method="get" class="search-container" action="{% url 'daftar_pengguna' %}">
                    <img src="{% static 'adminpanel/images/iconsearch.png' %}" alt="Search" style="width: 16px; height: 16px;">
                    <input type="text" name="query" placeholder="Cari pengguna..." value="{{ request.GET.query }}">
                </form>
            </div>  
            
            <table class="users-table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Lengkap</th>
                        <th>Email</th>
                        <th>Jenis Kelamin</th>
                        <th>Sekolah Asal</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                {% for pengguna in pengguna %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pengguna.nama }}</td>
                    <td>{{ pengguna.email }}</td>
                    <td>{{ pengguna.jenis_kelamin }}</td>
                    <td>{{ pengguna.sekolah_asal }}</td>
                    <td>
                        <div class="action-icons">
                            <a href="#" class="action-icon detail-icon" onclick="showUserModal('{{ pengguna.nama }}', '{{ pengguna.email }}', '{{ pengguna.jenis_kelamin }}', '{{ pengguna.sekolah_asal }}')">
                                <img src="{% static 'adminpanel/images/icondetail.png' %}" alt="Detail">
                            </a>
                            <a href="#" class="action-icon delete-icon"  onclick="confirmDelete('{{ pengguna.id }}')">
                                <img src="{% static 'adminpanel/images/icondelete.png' %}" alt="Delete">
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

            </table>
            
            <div id="userModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Detail Pengguna</h2>
                    <p><strong>Nama:</strong> <span id="modalNama"></span></p>
                    <p><strong>Email:</strong> <span id="modalEmail"></span></p>
                    <p><strong>Jenis Kelamin:</strong> <span id="modalJK"></span></p>
                    <p><strong>Sekolah Asal:</strong> <span id="modalSekolah"></span></p>
                </div>
            </div>
            <div class="pagination">
                {% for i in page_numbers %}
                    <div class="page-button {% if i == 1 %}active{% endif %}">{{ i }}</div>
                {% endfor %}
            </div>
        </div>
    </div>


    <script>
        function showUserModal(nama, email, jk, sekolah) {
            document.getElementById('modalNama').innerText = nama;
            document.getElementById('modalEmail').innerText = email;
            document.getElementById('modalJK').innerText = jk;
            document.getElementById('modalSekolah').innerText = sekolah;
            document.getElementById('userModal').style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function() {
            const inputQuery = document.querySelector('input[name="query"]');
                inputQuery.addEventListener('input', function() {
                    if (this.value === '') {
                        window.location.href = window.location.pathname;
                    }
                });

            document.querySelector('.modal .close').onclick = function() {
                document.getElementById('userModal').style.display = 'none';
            }

            window.onclick = function(event) {
                const modal = document.getElementById('userModal');
                if (event.target === modal) {
                    modal.style.display = 'none';
                }
            }
        });

        function confirmDelete(userId) {
            Swal.fire({
                title: 'Yakin ingin menghapus?',
                text: "Data ini tidak bisa dikembalikan!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Ya, hapus!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Arahkan ke URL hapus
                    window.location.href = `/hapus_pengguna/${userId}/`;
                }
            });
        }

        
    </script>

</body>
</html>